# Configs
*.env

# Lyo Designer Generator
*.lost

# Build systems & IDEs
target/
.cifuzz-corpus/
core/oslc-query/crash-*
overlays/
pom.xml.versionsBackup
dependency-reduced-pom.xml

bin/
.settings/
.classpath
.project

tools/readme-matrix/tmp.md

.idea/
*.iml

.vscode/

.DS_Store
