<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>OSLC Bugzilla Adapter</display-name>
	<servlet>
		<servlet-name>ServiceProviderCatalogService</servlet-name>
		<servlet-class>org.eclipse.lyo.samples.bugzilla.ServiceProviderCatalogService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServiceProviderService</servlet-name>
		<servlet-class>org.eclipse.lyo.samples.bugzilla.ServiceProviderService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChangeRequestService</servlet-name>
		<servlet-class>org.eclipse.lyo.samples.bugzilla.ChangeRequestService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChangeRequestCollectionService</servlet-name>
		<servlet-class>org.eclipse.lyo.samples.bugzilla.ChangeRequestCollectionService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChangeRequestCreatorService</servlet-name>
		<servlet-class>org.eclipse.lyo.samples.bugzilla.ChangeRequestCreatorService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChangeRequestSelectorService</servlet-name>
		<servlet-class>org.eclipse.lyo.samples.bugzilla.ChangeRequestSelectorService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreationShapeService</servlet-name>
		<servlet-class>org.eclipse.lyo.samples.bugzilla.CreationShapeService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>QueryShapeService</servlet-name>
		<servlet-class>org.eclipse.lyo.samples.bugzilla.QueryShapeService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RootServicesService</servlet-name>
		<servlet-class>org.eclipse.lyo.samples.bugzilla.RootServicesService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ConsumerKeyService</servlet-name>
		<servlet-class>org.eclipse.lyo.samples.bugzilla.ConsumerKeyService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>JAX-RS Services</servlet-name>
		<servlet-class>org.apache.wink.server.internal.servlet.RestServlet</servlet-class>
		<init-param>
			<param-name>applicationConfigLocation</param-name>
			<param-value>/WEB-INF/oauth-services</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>JAX-RS Services</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
	<listener>
		<listener-class>org.eclipse.lyo.samples.bugzilla.BugzillaInitializer</listener-class>
	</listener>
	<servlet-mapping>
		<servlet-name>ServiceProviderCatalogService</servlet-name>
		<url-pattern>/catalog</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceProviderService</servlet-name>
		<url-pattern>/provider</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangeRequestCollectionService</servlet-name>
		<url-pattern>/changerequests</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangeRequestService</servlet-name>
		<url-pattern>/changerequest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangeRequestCreatorService</servlet-name>
		<url-pattern>/creator</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangeRequestSelectorService</servlet-name>
		<url-pattern>/selector</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreationShapeService</servlet-name>
		<url-pattern>/creationshape</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>QueryShapeService</servlet-name>
		<url-pattern>/queryshape</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RootServicesService</servlet-name>
		<url-pattern>/rootservices</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConsumerKeyService</servlet-name>
		<url-pattern>/consumer_key</url-pattern>
	</servlet-mapping>
</web-app>