<!--
    Copyright (c) 2011 IBM Corporation.
   
     All rights reserved. This program and the accompanying materials
     are made available under the terms of the Eclipse Public License v1.0
     and Eclipse Distribution License v. 1.0 which accompanies this distribution.
     
     The Eclipse Public License is available at http://www.eclipse.org/legal/epl-v10.html
     and the Eclipse Distribution License is available at
     http://www.eclipse.org/org/documents/edl-v10.php.
     
     Contributors:
     
        Masaki Wakao 
        Yoshio Horiuchi 
        Kohji Ohsawa 
 -->
<mapping>

  <!--  dcterms:identifier -->
  <property index="1"
    type="http://www.w3.org/2001/XMLSchema#string"
    name="http://purl.org/dc/elements/1.1/identifier"
    of="http://open-services.net/ns/cm#ChangeRequest"
    />

  <!--  oslc_cm:status -->
  <property index="2"
    type="http://www.w3.org/2001/XMLSchema#string"
    name="http://open-services.net/ns/cm#status"
    of="http://open-services.net/ns/cm#ChangeRequest"
    />

  <!--  dcterms:title -->
  <property index="5"
    type="http://www.w3.org/2001/XMLSchema#string"
    name="http://purl.org/dc/elements/1.1/title"
    of="http://open-services.net/ns/cm#ChangeRequest"
    />

  <!--  dcterms:description -->
  <property index="8"
    type="http://www.w3.org/2001/XMLSchema#string"
    name="http://purl.org/dc/elements/1.1/description"
    of="http://open-services.net/ns/cm#ChangeRequest"
    />

  <!--  dcterms:created -->
  <property index="9"
    type="http://www.w3.org/2001/XMLSchema#dateTime"
    name="http://purl.org/dc/elements/1.1/created"
    of="http://open-services.net/ns/cm#ChangeRequest"
    formatString="yyyy-MM-dd'T'HH:mm:ssz"
    />

  <!--  dcterms:contributor -->
  <!--  foaf:name -->
  <property index="7"
    type="http://open-services.net/ns/core#Resource"
    name="http://purl.org/dc/elements/1.1/contributor"
    of="http://open-services.net/ns/cm#ChangeRequest">
      <property
        type="http://www.w3.org/2001/XMLSchema#string"
        name="http://xmlns.com/foaf/0.1/name" 
        of="http://xmlns.com/foaf/0.1/Person"
      />
    </property>

  <!--  oslc_cm:relatedChangeRequest (to RTC) -->
  <property index="11"
    type="http://open-services.net/ns/core#Resource"
    name="http://open-services.net/ns/cm#relatedChangeRequest"
    of="http://open-services.net/ns/cm#ChangeRequest">
    prefixUri=""
      <property
        type="http://www.w3.org/2001/XMLSchema#string"
        name="http://purl.org/dc/elements/1.1/identifier"
        of="http://open-services.net/ns/cm#ChangeRequest"
        baseUri="https://lalah.yamato.ibm.com:9443/ccm/resource/itemName/com.ibm.team.workitem.WorkItem/"
      />
    </property>

</mapping>

<!--  
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="http://purl.org/dc/elements/1.1/contributor">7</entry>
<entry key="http://purl.org/dc/elements/1.1/created">9</entry>
<entry key="http://purl.org/dc/elements/1.1/description">8</entry>
<entry key="http://purl.org/dc/elements/1.1/identifier">1</entry>
<entry key="http://purl.org/dc/elements/1.1/title">5</entry>
<entry key="http://open-services.net/ns/cm#status">2</entry>
</properties>
-->