<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) 2011,2013 IBM Corporation.
   
     All rights reserved. This program and the accompanying materials
     are made available under the terms of the Eclipse Public License v1.0
     and Eclipse Distribution License v. 1.0 which accompanies this distribution.
     
     The Eclipse Public License is available at http://www.eclipse.org/legal/epl-v10.html
     and the Eclipse Distribution License is available at
     http://www.eclipse.org/org/documents/edl-v10.php.
     
     Contributors:
     
        Masaki Wakao 
        Yoshio Horiuchi 
        Kohji Ohsawa 
 -->

<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<!-- model -->
<entry key="repositoryLocation">repository</entry>
<entry key="modelGroupName">projectA/</entry>
<entry key="mapperFileName">mapper.xls</entry>
<entry key="baseUri">http://open-services.net/excel/</entry>
<!-- namespaces and prefixes -->
<entry key="namespace1">oslc_cm,http://open-services.net/ns/cm#</entry>
<!-- back links -->
<entry key="backlink1">http://open-services.net/ns/cm#relatedChangeRequest,http://open-services.net/ns/cm#relatedChangeRequest</entry>
<!-- catalog services -->
<entry key="publisherTitle">Excel Adapter Sample Provider</entry>
<entry key="publisherIdentifier">org.eclipse.lyo.samples.excel</entry>
<entry key="publisherIcon">oslc.png</entry>
<entry key="serviceDomain">http://open-services.net/ns/cm#</entry>
<entry key="queryCapability1">changerequest,http://open-services.net/ns/cm#ChangeRequest</entry>
</properties>