name: CI Parent

on:
  push:
    branches: [master, maint-*]
  pull_request:
    branches: [master, maint-*]

# Does not help, see https://bugs.eclipse.org/bugs/show_bug.cgi?id=574043
#permissions: read-all

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' && !contains(github.event.pull_request.labels.*.name, 'ci:full') }}

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        jdk: ['17']
        # temurin is Eclipse/AdoptOpenJDK/Adoptium
        # 'liberica' is a preferred Spring SDK
        distribution: ['temurin']
        experimental: [false]
        # jena 3.x has some locking problems under JDK 16/17
        include:
          - jdk: '21'
            distribution: zulu
            experimental: false
          - jdk: '23'
            distribution: zulu
            experimental: false
          - jdk: '24'
            distribution: zulu
            experimental: false
          - jdk: '24-ea'
            distribution: zulu
            experimental: false
          - jdk: '25-ea'
            distribution: zulu
            experimental: false
    continue-on-error: ${{ matrix.experimental }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          show-progress: false
      - name: Set up JDK ${{ matrix.jdk }}
        uses: actions/setup-java@v4
        with:
          distribution: ${{ matrix.distribution }}
          java-version: ${{ matrix.jdk }}
      - uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-${{ matrix.jdk }}_${{ matrix.distribution }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.jdk }}_${{ matrix.distribution }}-maven-
      - name: Build with Maven
        run: |
          mvn -B verify --file pom.xml
