name: CI Parent

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

# Does not help, see https://bugs.eclipse.org/bugs/show_bug.cgi?id=574043
#permissions: read-all

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        jdk: ['11']
        # temurin is Eclipse/AdoptOpenJDK/Adoptium
        # 'liberica' is a preferred Spring SDK
        distribution: ['temurin', 'zulu']
        experimental: [false]
        # jena 3.x has some locking problems under JDK 16/17
        include:
#          - jdk: '15' # Zulu MTS
#            experimental: true
#            distribution: zulu
#          - jdk: '16'
#            experimental: true
#            distribution: zulu
          - jdk: '17' # LTS
            distribution: zulu
            experimental: true
          - jdk: '19'
            distribution: zulu
            experimental: true
    continue-on-error: ${{ matrix.experimental }}

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK ${{ matrix.jdk }}
        uses: actions/setup-java@v2
        with:
          distribution: ${{ matrix.distribution }}
          java-version: ${{ matrix.jdk }}
      - uses: actions/cache@v1
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-${{ matrix.jdk }}_${{ matrix.distribution }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.jdk }}_${{ matrix.distribution }}-maven-
      - name: Build with Maven
        run: |
          mvn -B verify --file pom.xml
